.about {
    padding-top: 39px;
    padding-bottom: 73px;
}
.about__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    color: #000;
    margin-bottom: 32px;
}

.about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #283136;
    margin-bottom: 40px;
    max-width: 646px;
}

.about__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #283136;
    margin-bottom: 23px;
}

.about__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #283136;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about__percent {
    font-weight: 700;
    font-size: 45px;
    line-height: 142%;
    color: #000;
    margin-bottom: 10px;
}

.about__percent sup {
    font-size: 26px;
    line-height: 154%;
}

.about__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #283136;
}

.about__advantages {
    display: flex;
    list-style: none;
    gap: 22px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__item {
    display: flex;
    align-items:center;
    gap: 10px;    
}

.about__item::before {
    content: "";
    width: 25px;
    height: 2px;
    background: #fb565a;
}
