.cards__item {
    position: relative;
}

.cards__item:hover .cards__info {
    opacity: 100%;
    transition: 0.3s;
}

.cards__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 49px;
}

.cards__img {
    width: 100%;
}

.cards__info {
    text-align: center;
    background-color: #eeeeee;
    padding: 26px 80px 44px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cards__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 167%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding-bottom: 12px;
}

.cards__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #666;
    padding-bottom: 32px;
}

.cards__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    background-color: #fb565a;
    text-decoration: none;
    padding: 17px 0px 15px;
    display: inline-block;
    width: 100%;
}
