.pagination__list {
    display: flex;
    gap: 11px;
    list-style: none;
}

.pagination__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    background: #eee;
    align-content: center;
    display: inline-block;
}

.pagination__link--current {
    border: 3px solid #dbdbdb;
    border-radius: 3px;
    background: #fff;
}

.pagination__link--next {
    padding: 17px 77px 15px 78px;
    text-align: center;
    width: fit-content;
    text-transform: uppercase;
}
