.partners {
    padding-top: 46px;
    padding-bottom: 44px;
}  

.partners__list {
    list-style: none;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.partners__item {
    transition: 0.3s;
    opacity: 20%;
}

.partners__item:hover {
 opacity: 1;
}

.partners__item:active {
    opacity: 20%;
}

