.slider__wrapper {
    position: relative;
    width: 260px;
    background-color: #eeeeee;
    padding: 30px;
    border-radius: 3px;
    margin-top: 48px;
}
.slider__container {
    position: relative;
    width: 100%;
    height: 30px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider__track {
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 2px;
}
input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 2px;
}
input[type="range"]::-ms-track {
    appearance: none;
    height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    pointer-events: auto;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}
input[type="range"]::-ms-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    pointer-events: auto;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}

.slider__number {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    width: 80px;
    height: 38px;
    background-color: #eeeeee;
    border: none;
    margin-top: 14px;
    margin-left: 11px;
}

.silder__sign {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    text-transform: uppercase;
    color: #283136;
    display: flex;
    margin-left: 11px;
}
